* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.initialPage {
  width: 400px;
  height: 400px;
  background-color: #89abe3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  gap: 30px;
}
.initialPage button {
  width: 100px;
  height: 40px;
  background-color: #ea738d;
  border: 1px solid #fcedda;
  border-radius: 3px;
}
.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gamePage div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.gamePage p {
  margin-bottom: 30px;
}

.gameTableDiv {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.gameTableDiv div {
  height: 30%;
  width: 30%;
  border: solid 1px black;
  border-radius: 10px;
}
